.container {
    margin: 50px 30px 50px 0;
    border-radius: 10px;
    padding: 0 20px;
    width: 33.33vw;
    min-height: 50vh;
    background-color: var(--sub-color-2);
}

.container-title {
    margin: 0;
    padding: 0.5em 0;
    color: var(--sub-color-1);
    font-family: 'suse';
    font-size: 1.25rem;
    font-weight: bold;
    font-variant-caps: small-caps;
    text-align: right;
}

.container-2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

input {
    background-color: var(--sub-color-2);
    border-style: none;
    border-left: 1px solid var(--sub-color-4);
    color: var(--sub-color-4);
    font-family: 'suse';
    font-size: 1rem;
    padding-left: 0.5em;
    font-weight: bold;
}

.spotify-button {
    display: block;
    margin: 2rem auto;
    padding: 0.4em 0.8em;
    border: 2px solid var(--sub-color-1);
    border-radius: 100px;
    font-size: 1rem;
    background-color: var(--sub-color-2);
    color: var(--sub-color-1);
    font-family: "SUSE";
}